POSTGRES_USER=postgres
POSTGRES_PASSWORD=123
POSTGRES_DB=stage
POSTGRES_URL=postgresql://db:5432/stage?user=postgres&password=123
SECRET_KEY=supersecretkey
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=7
ACCESS_TOKEN_COOKIE=UNIT_ACCESS_TOKEN
REFRESH_TOKEN_COOKIE=UNIT_REFRESH_TOKEN
REDIS_HOST=redis
REDIS_PORT=6379
MAIL_USERNAME=your_yandex_email@yandex.ru
MAIL_PASSWORD=your_app_password
MAIL_FROM=your_yandex_email@yandex.ru
MAIL_PORT=465
MAIL_SERVER=smtp.yandex.ru
MAIL_STARTTLS=False
MAIL_SSL_TLS=True
ALLOW_ORIGINS_HEADER=http://localhost:5173